<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
  </head>
  <body>
    <footer
      class="fixed bottom-0 w-full left-0 text-center text-sm text-gray-500 bg-gray-200 p-4"
    >
      &copy; <%= new Date().getFullYear() %> Mini Messageboard.
    </footer>
  </body>
</html>
